<main role="main">

        
    
  <div class="album py-5 bg-light">
    <div class="container">

        <div class="table">
            <div class="row" style="padding-left: 50px;">
                <div class="col-md-5">
            <form #searchtext = "ngForm" class="card" (ngSubmit) = "onSearchByname(searchtext.value)" style="width: 350px;">
                <div class="input-group">
                  <input type="text" class="form-control" name = "search_text" placeholder="Search by name" ngModel>
                  <div class="input-group-append">
                    <button type="submit" class="btn btn-outline-primary">Search</button>
                  </div>
                </div>
              </form>
                </div>
              <div class="col-md-5">
              <form #searchloc = "ngForm" class="card" (ngSubmit) = "onSearchBylocation(searchloc.value)" style="width: 350px;">
                <div class="input-group">
                  <AutocompleteComponent (setAddress)="getAddress($event)" adressType="geocode"></AutocompleteComponent>
            
                  <div class="input-group-append">
                    <button type="submit" class="btn btn-outline-primary" >Search</button>
                  </div>
                </div>
              </form></div>
              <div class="col-md-2">

             <a><button type="button" routerLink='/addstore' class="btn btn-primary" >+ Add Store</button></a>
            </div>
    </div>
    </div>

    <p *ngIf="search_text">Search Results for "{{search_text}}"</p>
      <div class="row" style="padding-top: 25px;">
        <div  *ngFor="let store of stores_list" class="col-md-4">
          <div class="card mb-4 shadow-sm">
           <div  style="padding-left: 20px;padding-top: 10px; background-color: #21b2de;">
            <h5 class="card-heading" style="color: ivory;">{{store.store_name}}</h5>
            
        </div>
            <div class="card-body">
             <p>Owned by : {{store.store_owner}}</p>
              <p class="card-text">Address : {{store.store_address}}</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-primary">View</button>
                </div>
                <small class="text-muted">Category : {{store.store_category}}</small>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
  
</main>
<!-- <div class="card my-5">
    <div class="card-body">
      <table class="table table-bordered table-striped">
        <thead class="thead-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let shop of shops_list">
            <td>{{ shop.shop_id }}</td>
            <td>{{ shop.shop_name }}</td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>  -->